<header>
  <h1>Posts</h1>
  <ul class='actions'>
    <li><%= link_to 'New Post', new_post_path, class: 'btn btn-success' %></li>
  </ul>
</header>

<% @posts.each do |post| %>
  <h2><%=link_to post.title, post %></h2>
  <p>
    <%= post.content %>
  </p>
<% end %>
