<header>
  <h1><%= @post.title %></h1>
  <ul class='actions'>
    <li><%= link_to 'Edit Post', edit_post_path(@post), class: 'btn btn-primary' %></li>
    <li><%= link_to 'Delete Post', post_path, class: 'delete', method: :delete, data: { confirm: 'Are you sure you want to delete post?' }  %></li>
  </ul>
</header>
<p>
  <%= @post.content %>
</p>
